{% extends "base.html.twig" %}

{% block header %}
    {% include 'snippets/header.html.twig' with {'snippet': sulu_snippet_load_by_area('snippet_header')} %}
{% endblock %}

{% block content %}
    <form action="{{ path('sulu_search.website_search') }}" method="GET" class="container-fluid mt-5">
        <div class="input-group mb-3 input-group-lg">
            <input name="q" type="text" placeholder="{{ content.search_bar_placeholder }}" class="form-control" aria-describedby="search_button"/>
            <button class="btn btn-outline-secondary" type="submit" id="search_button">{{ content.search_button_text }}</button>
        </div>
    </form>
{% endblock %}